@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;500;700&family=Roboto:ital,wght@0,300;0,500;1,300;1,500&display=swap");
/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Customize container */
.content {
  max-width: 1160px;
  padding: 0 34px;
  margin: 0 auto;
}

@media (max-width: 1281px) {
  .content {
    max-width: 1520px;
  }
}

@media (max-width: 550px) {
  .content {
    padding: 0 20px;
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 16px 0;
  background-color: #fff;
  margin-bottom: 40px;
}

.header input {
  border: none;
  background: transparent;
  outline: none;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  height: 24px;
  width: auto;
}

@media (max-width: 550px) {
  .header__logo {
    height: 14px;
  }
}

.header__address-info {
  margin-left: 7vw;
}

@media (max-width: 768px) {
  .header__address-info {
    display: none;
  }
}

.header__search {
  margin-left: auto;
}

@media (max-width: 768px) {
  .header__search {
    display: none;
  }
}

.header__button {
  margin-left: 40px;
  padding: 12px 0;
  white-space: nowrap;
  color: #1f1f1f;
}

.header__nav-buttons {
  display: none;
  padding: 12px 0;
  margin-left: auto;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header__nav-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__nav-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 5px;
  border: 1px solid transparent;
  background-color: white;
  cursor: pointer;
}

.header .location-btn {
  margin-right: 20px;
}

.header .address__input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 16px;
  border: 1px solid #e0e0e0;
  -webkit-transition: border-color .3s;
  transition: border-color .3s;
}

.header .address__icon {
  width: 14px;
  height: 14px;
  margin-right: 10px;
}

.header .address__input {
  max-height: 24px;
  line-height: 24px;
}

@media (max-width: 981px) {
  .header .address__input-sm {
    max-width: 75px;
  }
}

@media (max-width: 768px) {
  .header .address__input-sm {
    max-width: inherit;
  }
}

@media (max-width: 412px) {
  .header .address__input-sm {
    max-width: 90px;
  }
}

.header .address + .address {
  margin-left: 20px;
}

.header .mobile-address {
  display: none;
  position: relative;
  padding-top: 30px;
}

.header .address__title {
  font-size: 14px;
  color: #626262;
  margin-bottom: 8px;
}

.header .mobile__address-close {
  position: absolute;
  top: 10px;
  right: 0;
  border: 1px solid transparent;
  background-color: white;
}

.mainpage {
  margin-bottom: 40px;
}

.mainpage .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mainpage .restaurant__card {
  height: 367px;
  cursor: pointer;
}

@media (max-width: 840px) {
  .mainpage .restaurant__card {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.mainpage .restaurant__card-img img {
  max-height: auto;
  max-width: 350px;
}

@media (max-width: 840px) {
  .mainpage .restaurant__card-img img {
    width: 350px;
  }
}

@media (max-width: 370px) {
  .mainpage .restaurant__card-img img {
    width: 250px;
  }
}

.mainpage .restaurant__card-title {
  margin: 12px 0 4px;
}

@media (max-width: 1152px) {
  .mainpage .restaurant__card-title {
    font-size: 20px;
  }
}

.mainpage .restaurant__card-categories {
  font-size: 14px;
  color: #757575;
  margin-bottom: 4px;
}

@media (max-width: 1152px) {
  .mainpage .restaurant__card-categories {
    font-size: 12px;
  }
}

.mainpage .restaurant__card-time {
  font-size: 14px;
  display: inline-block;
  padding: 2px 8px;
  background-color: #f5f5f5;
}

@media (max-width: 1152px) {
  .mainpage .restaurant__card-time {
    font-size: 10px;
  }
}

.footer {
  background-color: #262626;
  padding: 64px 0;
  margin-bottom: -64px;
}

.footer__top {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #c4c4c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 620px) {
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 620px) {
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__left {
  -ms-flex-preferred-size: 45vw;
      flex-basis: 45vw;
  padding-right: 40px;
}

@media (max-width: 620px) {
  .footer__left {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

@media (max-width: 620px) {
  .footer__left-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__left-container {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .footer__left-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.footer__logo {
  margin-right: 40px;
}

@media (max-width: 768px) {
  .footer__logo {
    margin-bottom: 40px;
  }
}

.footer .select {
  position: relative;
}

.footer .select__input {
  background-color: #262626;
  border: 1px solid #979797;
  border-radius: 0;
  padding: 10px 40px;
  color: #fff;
  cursor: pointer;
}

.footer .select * {
  cursor: pointer;
}

.footer .select__icon {
  position: absolute;
  top: 12px;
  left: 10px;
  width: 20px;
  height: 20px;
}

.footer__mobile-app {
  display: inline-block;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .footer__mobile-app {
    margin-bottom: 20px;
  }
}

.footer__top-link {
  display: block;
  margin-bottom: 16px;
  color: #fff;
  white-space: nowrap;
}

@media (max-width: 620px) {
  .footer__top-links {
    padding-left: 0;
  }
}

.footer__top-links:last-of-type {
  margin-left: 10vw;
}

@media (max-width: 851px) {
  .footer__top-links:last-of-type {
    margin-left: 0;
  }
}

.footer__copyright {
  font-size: 14px;
  color: #fff;
  -ms-flex-preferred-size: 45vw;
      flex-basis: 45vw;
  padding-right: 40px;
}

.footer__info-links {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .links__link {
  display: block;
  margin-bottom: 16px;
  color: #fff;
  white-space: nowrap;
}

.footer .links__link:not(:last-of-type) {
  margin-right: 40px;
}

.footer .social__link {
  margin-right: 20px;
}

.footer .link-hover:hover {
  color: #0056b3;
  text-decoration: underline;
}
